Repository MightyLions/Cold_Pitch, pull requests merged in 2023-07, with the labels that each got.

#142 [Feature] 게시글 리팩토링
  src/main/java/com/ColdPitch/domain/apicontroller/PostApiController.java
  src/main/java/com/ColdPitch/domain/entity/Dislike.java
  src/main/java/com/ColdPitch/domain/entity/Like.java
  src/main/java/com/ColdPitch/domain/entity/Post.java
  src/main/java/com/ColdPitch/domain/entity/dto/post/PostRequestDto.java
  src/main/java/com/ColdPitch/domain/entity/dto/post/PostResponseDto.java
  src/main/java/com/ColdPitch/domain/service/PostService.java
  src/main/java/com/ColdPitch/domain/service/UserService.java
Labels: 🧬 Back, 🔨 Refactor, 📋 Post

#143 [Refactor] jwt 필터 기능 추가, exception
  src/main/java/com/ColdPitch/config/security/CorsConfig.java
  src/main/java/com/ColdPitch/config/security/SecurityConfig.java
  src/main/java/com/ColdPitch/exception/CustomSecurityException.java
  src/main/java/com/ColdPitch/exception/ExceptionHandleFilter.java
  src/main/java/com/ColdPitch/exception/handler/ErrorCode.java
  src/main/java/com/ColdPitch/jwt/TokenProvider.java
  src/main/java/com/ColdPitch/jwt/exception/JwtAccessDeniedHandler.java
  src/main/java/com/ColdPitch/jwt/exception/JwtAuthenticationEntryPoint.java
Labels: 🧬 Back, 🔨 Refactor

#145 refactor #138 유효성 검증
  build.gradle
  src/main/java/com/ColdPitch/domain/apicontroller/CommentApiController.java
  src/main/java/com/ColdPitch/domain/apicontroller/CompanyRegistrationController.java
  src/main/java/com/ColdPitch/domain/apicontroller/PostApiController.java
  src/main/java/com/ColdPitch/domain/apicontroller/TagApiController.java
  src/main/java/com/ColdPitch/domain/apicontroller/UserApiController.java
  src/main/java/com/ColdPitch/domain/apicontroller/UserAuthApiController.java
  src/main/java/com/ColdPitch/domain/apicontroller/UserTagController.java
  src/main/java/com/ColdPitch/domain/entity/dto/comment/CommentRequestDto.java
  src/main/java/com/ColdPitch/domain/entity/dto/companyRegistraion/CompanyRegistrationDto.java
  src/main/java/com/ColdPitch/domain/entity/dto/jwt/TokenRequestDto.java
  src/main/java/com/ColdPitch/domain/entity/dto/post/PostRequestDto.java
  src/main/java/com/ColdPitch/domain/entity/dto/solution/SolutionRequestDto.java
  src/main/java/com/ColdPitch/domain/entity/dto/tag/TagRequestDto.java
  src/main/java/com/ColdPitch/domain/entity/dto/user/CompanyRequestDto.java
  src/main/java/com/ColdPitch/domain/entity/dto/user/LoginDto.java
  src/main/java/com/ColdPitch/domain/entity/dto/user/UserRequestDto.java
  src/main/java/com/ColdPitch/domain/entity/dto/usertag/TagRequestDto.java
  src/main/java/com/ColdPitch/exception/handler/GlobalExceptionHandler.java
  src/main/java/com/ColdPitch/validation/EnumValidator.java
  src/main/java/com/ColdPitch/validation/annotations/Phone.java
  src/main/java/com/ColdPitch/validation/annotations/ValidEnum.java
Labels: 🧬 Back, ✨ Feature, 🔨 Refactor

#146 [Refactor] #140 유저가 평가한 게시글 조회 N+1 문제 해결
  src/main/java/com/ColdPitch/domain/apicontroller/UserApiController.java
  src/main/java/com/ColdPitch/domain/repository/CommentRepository.java
  src/main/java/com/ColdPitch/domain/repository/DislikeRepository.java
  src/main/java/com/ColdPitch/domain/repository/LikeRepository.java
  src/main/java/com/ColdPitch/domain/repository/PostRepository.java
  src/main/java/com/ColdPitch/domain/service/PostService.java
  src/main/java/com/ColdPitch/domain/service/UserService.java
Labels: 🔨 Refactor, 👥 User

#148 Refactor (Comment, Error 코드, UserRequestDto 등) 리팩토링
  src/main/java/com/ColdPitch/domain/apicontroller/CommentApiController.java
  src/main/java/com/ColdPitch/domain/apicontroller/UserApiController.java
  src/main/java/com/ColdPitch/domain/entity/dto/user/UserRequestDto.java
  src/main/java/com/ColdPitch/domain/repository/CommentRepository.java
  src/main/java/com/ColdPitch/domain/repository/CommentRepositoryCustom.java
  src/main/java/com/ColdPitch/domain/repository/CommentRepositoryImpl.java
  src/main/java/com/ColdPitch/domain/service/CommentService.java
  src/main/java/com/ColdPitch/domain/service/UserService.java
  src/main/java/com/ColdPitch/exception/handler/ErrorCode.java
  src/main/java/com/ColdPitch/exception/handler/ErrorResponse.java
  src/test/java/com/ColdPitch/domain/repository/CommentRepositoryTest.java
  src/test/java/com/ColdPitch/domain/service/UserServiceTest.java
Labels: 🔨 Refactor, 📚comment

#150 [Refactor] #136 jwt 수정
  src/main/java/com/ColdPitch/config/security/JwtConfig.java
  src/main/java/com/ColdPitch/config/security/SecurityConfig.java
  src/main/java/com/ColdPitch/domain/apicontroller/UserApiController.java
  src/main/java/com/ColdPitch/domain/apicontroller/UserAuthApiController.java
  src/main/java/com/ColdPitch/domain/entity/dto/jwt/RefreshToken.java
  src/main/java/com/ColdPitch/jwt/JwtFilter.java
  src/main/java/com/ColdPitch/jwt/TokenProvider.java
  src/test/java/com/ColdPitch/domain/apicontroller/UserAuthApiControllerTest.java
  src/test/java/com/ColdPitch/domain/apicontroller/UserControllerTest.java
  src/test/java/com/ColdPitch/domain/apicontroller/UserTagControllerTest.java
  src/test/java/com/ColdPitch/domain/service/UserServiceTest.java
  src/test/java/com/ColdPitch/domain/service/UserTagServiceTest.java
Labels: 🧬 Back, 🔨 Refactor

#151 [Feature] #149 유저 댓글 긍부정 평가 API 호출 로직 작성
  src/main/java/com/ColdPitch/config/okHttp/ApiConfig.java
  src/main/java/com/ColdPitch/domain/entity/dto/sentiment/SentimentRequestDto.java
  src/main/java/com/ColdPitch/domain/entity/dto/sentiment/SentimentResponseDto.java
  src/main/java/com/ColdPitch/domain/service/CompanyRegistrationValidator.java
  src/main/java/com/ColdPitch/domain/service/SentimentApiClient.java
  src/main/java/com/ColdPitch/domain/service/SentimentService.java
  src/main/java/com/ColdPitch/exception/handler/ErrorCode.java
  src/test/java/com/ColdPitch/domain/service/SentimentServiceTest.java
Labels: 🧬 Back, ✨ Feature, 📬 API, 🔨 Refactor

#161 [Feature] #153 워드 클라우드 활용을 위한 긍부정 분석 결과 분류 기능 추가
  src/main/java/com/ColdPitch/domain/entity/dto/sentiment/SentimentClassifiedDto.java
  src/main/java/com/ColdPitch/domain/service/SentimentService.java
Labels: 🧬 Back, ✨ Feature, 📬 API

#163 [Feature] #158 유저 프로필 이미지 업로드 기능 추가
  src/main/java/com/ColdPitch/config/cloud/S3Config.java
  src/main/java/com/ColdPitch/core/manager/AWSFileManager.java
  src/main/java/com/ColdPitch/core/manager/FileManager.java
  src/main/java/com/ColdPitch/core/manager/UserFileManager.java
  src/main/java/com/ColdPitch/domain/apicontroller/UserApiController.java
  src/main/java/com/ColdPitch/domain/entity/User.java
  src/main/java/com/ColdPitch/domain/service/UserService.java
  src/main/java/com/ColdPitch/exception/handler/GlobalExceptionHandler.java
  src/test/java/com/ColdPitch/domain/apicontroller/UserAuthApiControllerTest.java
Labels: 🧬 Back, 👥 User

#164 [Feat] 감정 분석을 위한 형태소 분석 라이브러리 추가
  README.md
  readmeImage/architecture.png
  readmeImage/erdiagram.png
  readmeImage/sequence-diagram.png
  readmeImage/service-diagram.png
  readmeImage/survey.png
  src/main/java/com/ColdPitch/domain/service/IWordAnalysisService.java
  src/main/java/com/ColdPitch/domain/service/WordAnalysisService.java
  src/main/java/com/ColdPitch/exception/handler/ErrorCode.java
  src/test/java/com/ColdPitch/domain/component/WordAnalysisServiceTest.java
Labels: 🧬 Back, ✨ Feature

#166 [Feature] 게시글 다중 파일 업로드 기능 개발
  src/main/java/com/ColdPitch/config/cloud/S3Config.java
  src/main/java/com/ColdPitch/core/manager/AWSFileManager.java
  src/main/java/com/ColdPitch/core/manager/AbstractFileManager.java
  src/main/java/com/ColdPitch/core/manager/FileManager.java
  src/main/java/com/ColdPitch/core/manager/PostFileManager.java
  src/main/java/com/ColdPitch/core/manager/UserFileManager.java
  src/main/java/com/ColdPitch/domain/apicontroller/PostApiController.java
  src/main/java/com/ColdPitch/domain/entity/Post.java
  src/main/java/com/ColdPitch/domain/entity/dto/post/PostRequestDto.java
  src/main/java/com/ColdPitch/domain/entity/dto/post/PostResponseDto.java
  src/main/java/com/ColdPitch/domain/service/PostService.java
  src/main/java/com/ColdPitch/domain/service/UserService.java
Labels: 🧬 Back, ✨ Feature, 📬 API, 📋 Post

#168 [Feat] 감정분석 및 워드 클라우드
  src/main/java/com/ColdPitch/domain/apicontroller/SentimentApiController.java
  src/main/java/com/ColdPitch/domain/entity/dto/sentiment/SentimentClassifiedResponseDto.java
  src/main/java/com/ColdPitch/domain/entity/dto/sentiment/SentimentLiteralStringRequestDto.java
  src/main/java/com/ColdPitch/domain/service/SentimentApiClient.java
  src/main/java/com/ColdPitch/domain/service/SentimentService.java
  src/main/java/com/ColdPitch/exception/handler/ErrorCode.java
  src/main/java/com/ColdPitch/exception/handler/GlobalExceptionHandler.java
  src/main/java/com/ColdPitch/utils/ValueThenKeyComparator.java
  src/test/java/com/ColdPitch/domain/service/SentimentServiceTest.java
  src/test/java/com/ColdPitch/domain/service/WordAnalysisServiceTest.java
Labels: 🧬 Back, ✨ Feature, 📬 API, 🔨 Refactor

#169 #153 feature 감정분석 및 워드 클라우드 기능 구현
  README.md
  build.gradle
  readmeImage/architecture.png
  readmeImage/erdiagram.png
  readmeImage/sequence-diagram.png
  readmeImage/service-diagram.png
  readmeImage/survey.png
  src/main/java/com/ColdPitch/domain/apicontroller/SentimentApiController.java
  src/main/java/com/ColdPitch/domain/entity/dto/sentiment/ConfidenceScoresDto.java
  src/main/java/com/ColdPitch/domain/entity/dto/sentiment/DocumentDto.java
  src/main/java/com/ColdPitch/domain/entity/dto/sentiment/SentenceDto.java
  src/main/java/com/ColdPitch/domain/entity/dto/sentiment/SentimentClassifiedResponseDto.java
  src/main/java/com/ColdPitch/domain/entity/dto/sentiment/SentimentLiteralStringRequestDto.java
  src/main/java/com/ColdPitch/domain/entity/dto/sentiment/SentimentRequestDto.java
  src/main/java/com/ColdPitch/domain/entity/dto/sentiment/SentimentResponseDto.java
  src/main/java/com/ColdPitch/domain/service/IWordAnalysisService.java
  src/main/java/com/ColdPitch/domain/service/SentimentApiClient.java
  src/main/java/com/ColdPitch/domain/service/SentimentService.java
  src/main/java/com/ColdPitch/domain/service/WordAnalysisService.java
  src/main/java/com/ColdPitch/exception/handler/ErrorCode.java
  src/main/java/com/ColdPitch/exception/handler/GlobalExceptionHandler.java
  src/main/java/com/ColdPitch/utils/ValueThenKeyComparator.java
  src/test/java/com/ColdPitch/domain/service/SentimentServiceTest.java
  src/test/java/com/ColdPitch/domain/service/WordAnalysisServiceTest.java
Labels: 🧬 Back, ✨ Feature, 📬 API

#171 [Refactor] #170 유저 리팩토링
  README.md
  src/main/java/com/ColdPitch/config/security/SecurityConfig.java
  src/main/java/com/ColdPitch/domain/apicontroller/HelloApiController.java
  src/main/java/com/ColdPitch/domain/apicontroller/TagApiController.java
  src/main/java/com/ColdPitch/domain/apicontroller/UserApiController.java
  src/main/java/com/ColdPitch/domain/apicontroller/UserAuthApiController.java
  src/main/java/com/ColdPitch/domain/apicontroller/UserTagController.java
  src/main/java/com/ColdPitch/domain/entity/Hello.java
  src/main/java/com/ColdPitch/domain/entity/Tag.java
  src/main/java/com/ColdPitch/domain/entity/User.java
  src/main/java/com/ColdPitch/domain/entity/dto/tag/TagRequestDto.java
  src/main/java/com/ColdPitch/domain/entity/dto/usertag/SaveTagRequestDto.java
  src/main/java/com/ColdPitch/domain/entity/dto/usertag/TagResponseDto.java
  src/main/java/com/ColdPitch/domain/repository/HelloRepository.java
  src/main/java/com/ColdPitch/domain/service/HelloService.java
  src/main/java/com/ColdPitch/domain/service/TagService.java
  src/main/java/com/ColdPitch/domain/service/UserService.java
  src/main/java/com/ColdPitch/domain/service/UserTagService.java
  src/main/java/com/ColdPitch/exception/handler/ErrorCode.java
  src/test/java/com/ColdPitch/domain/apicontroller/UserTagControllerTest.java
  src/test/java/com/ColdPitch/domain/repository/FileRepositoryTest.java
  src/test/java/com/ColdPitch/domain/repository/PostRepositoryTest.java
  src/test/java/com/ColdPitch/domain/service/UserTagServiceTest.java
Labels: 🧬 Back

#175 [Test] #172 s3 모킹 테스트 수정
  src/test/java/com/ColdPitch/domain/apicontroller/UserAuthApiControllerTest.java
  src/test/java/com/ColdPitch/domain/apicontroller/UserControllerTest.java
  src/test/java/com/ColdPitch/domain/apicontroller/UserFileManagerTest.java
  src/test/java/com/ColdPitch/domain/repository/UserRepositoryTest.java
  src/test/java/com/ColdPitch/domain/service/UserTagServiceTest.java
Labels: ✅ Test
