Repository MightyLions/Cold_Pitch, pull requests merged in 2023-05, with the labels that each got.

#29 [Feature] 게시글 엔티티, 레포지토리 추가 및 CRUD 테스트코드 작성
  src/main/java/com/ColdPitch/domain/entity/Post.java
  src/main/java/com/ColdPitch/domain/repository/PostRepository.java
  src/test/java/com/ColdPitch/domain/entity/post/PostTest.java
Labels: 🧬 Back, ✨ Feature, ✅ Test, 📋 Post

#32 [Feature] 게시글 상태 변경 기능 테스트코드 작성
  src/main/java/com/ColdPitch/domain/entity/Post.java
  src/main/java/com/ColdPitch/domain/entity/post/PostState.java
  src/test/java/com/ColdPitch/domain/entity/post/PostTest.java
Labels: 🧬 Back, ✨ Feature, ✅ Test, 📋 Post

#37 [Cors] swagger 세팅
  build.gradle
  src/main/java/com/ColdPitch/config/swagger/SwaggerConfig.java
  src/main/java/com/ColdPitch/domain/apicontroller/HelloApiController.java
  src/main/resources/application.yml
Labels: ⚙ Setting

#40 [Feature] 댓글 엔티티 구조 변경 및 API 컨트롤러 추가
  src/main/java/com/ColdPitch/config/querydsl/QuerydslConfiguration.java
  src/main/java/com/ColdPitch/domain/apicontroller/comment/CommentApiController.java
  src/main/java/com/ColdPitch/domain/entity/BaseEntity.java
  src/main/java/com/ColdPitch/domain/entity/Comment.java
  src/main/java/com/ColdPitch/domain/entity/Comment.java.orig
  src/main/java/com/ColdPitch/domain/entity/Post.java
  src/main/java/com/ColdPitch/domain/repository/CommentRepository.java
  src/main/java/com/ColdPitch/domain/repository/CommentRepositoryCustom.java
  src/main/java/com/ColdPitch/domain/repository/CommentRepositoryImpl.java
  src/main/java/com/ColdPitch/domain/service/CommentService.java
  src/test/java/com/ColdPitch/domain/entity/comment/CommentRepositoryTest.java
  src/test/java/com/ColdPitch/domain/entity/comment/CommentTest.java
Labels: 🧬 Back, ✨ Feature, 📚comment

#39 [Feature] tag엔티티 생성
  src/main/java/com/ColdPitch/domain/entity/Tag.java
  src/main/java/com/ColdPitch/domain/entity/tag/TagName.java
  src/main/java/com/ColdPitch/domain/repository/TagRepository.java
  src/test/java/com/ColdPitch/domain/entity/tag/TagTest.java
  src/test/java/com/ColdPitch/domain/entity/user/UserTest.java
Labels: 🧬 Back, ✨ Feature, 🏷️Tag

#41 [Fix] 테스트코드 에러 수정
  src/test/java/com/ColdPitch/domain/entity/tag/TagTest.java
  src/test/java/com/ColdPitch/domain/entity/user/UserTest.java
Labels: 🐞 BugFix, ✅ Test

#49 [Feature] 유저회원가입 부분생성 #48
  src/main/java/com/ColdPitch/config/security/SecurityConfig.java
  src/main/java/com/ColdPitch/domain/apicontroller/UserAuthController.java
  src/main/java/com/ColdPitch/domain/entity/User.java
  src/main/java/com/ColdPitch/domain/entity/dto/user/UserRequestDto.java
  src/main/java/com/ColdPitch/domain/entity/dto/user/UserResponseDto.java
  src/main/java/com/ColdPitch/domain/entity/user/UserType.java
  src/main/java/com/ColdPitch/domain/repository/UserRepository.java
  src/main/java/com/ColdPitch/domain/service/UserService.java
  src/test/java/com/ColdPitch/domain/apicontroller/UserAuthControllerTest.java
  src/test/java/com/ColdPitch/domain/repository/UserRepositoryTest.java
  src/test/java/com/ColdPitch/domain/service/UserServiceTest.java
Labels: 🧬 Back, ✨ Feature, 👥 User

#56 [Feature] 유저 로그인 부분생성 #50
  build.gradle
  src/main/java/com/ColdPitch/config/security/JwtConfig.java
  src/main/java/com/ColdPitch/config/security/SecurityConfig.java
  src/main/java/com/ColdPitch/domain/apicontroller/UserAuthApiController.java
  src/main/java/com/ColdPitch/domain/entity/dto/jwt/RefreshToken.java
  src/main/java/com/ColdPitch/domain/entity/dto/jwt/TokenDto.java
  src/main/java/com/ColdPitch/domain/entity/dto/jwt/TokenRequestDto.java
  src/main/java/com/ColdPitch/domain/entity/dto/user/LoginDto.java
  src/main/java/com/ColdPitch/domain/repository/RefreshTokenRepository.java
  src/main/java/com/ColdPitch/domain/repository/UserRepository.java
  src/main/java/com/ColdPitch/domain/service/CustomUserDetailService.java
  src/main/java/com/ColdPitch/domain/service/UserService.java
  src/main/java/com/ColdPitch/jwt/JwtFilter.java
  src/main/java/com/ColdPitch/jwt/SecurityUtil.java
  src/main/java/com/ColdPitch/jwt/TokenProvider.java
  src/main/java/com/ColdPitch/jwt/exception/JwtAccessDeniedHandler.java
  src/main/java/com/ColdPitch/jwt/exception/JwtAuthenticationEntryPoint.java
  src/test/java/com/ColdPitch/domain/apicontroller/UserAuthApiControllerTest.java
  src/test/java/com/ColdPitch/domain/service/UserServiceTest.java
Labels: 🧬 Back, ✨ Feature, 👥 User

#66 [Feature] user logout #59
  src/main/java/com/ColdPitch/domain/apicontroller/UserAuthApiController.java
  src/main/java/com/ColdPitch/domain/entity/User.java
  src/main/java/com/ColdPitch/domain/repository/RefreshTokenRepository.java
  src/main/java/com/ColdPitch/domain/service/RefreshTokenService.java
  src/main/java/com/ColdPitch/domain/service/UserService.java
  src/main/java/com/ColdPitch/jwt/SecurityUtil.java
  src/test/java/com/ColdPitch/domain/apicontroller/UserAuthApiControllerTest.java
  src/test/java/com/ColdPitch/domain/service/UserServiceTest.java
Labels: 🧬 Back, ✨ Feature, ✅ Test, 👥 User

#70 [Feature] comment#11, solution#47
  src/main/java/com/ColdPitch/domain/apicontroller/CommentApiController.java
  src/main/java/com/ColdPitch/domain/apicontroller/SolutionApiController.java
  src/main/java/com/ColdPitch/domain/apicontroller/comment/CommentApiController.java
  src/main/java/com/ColdPitch/domain/entity/Comment.java
  src/main/java/com/ColdPitch/domain/entity/Solution.java
  src/main/java/com/ColdPitch/domain/entity/comment/CommentState.java
  src/main/java/com/ColdPitch/domain/entity/dto/comment/CommentRequestDto.java
  src/main/java/com/ColdPitch/domain/entity/dto/comment/CommentResponseDto.java
  src/main/java/com/ColdPitch/domain/entity/dto/solution/SolutionRequestDto.java
  src/main/java/com/ColdPitch/domain/entity/dto/solution/SolutionResponseDto.java
  src/main/java/com/ColdPitch/domain/repository/SolutionRepository.java
  src/main/java/com/ColdPitch/domain/repository/SolutionRepositoryCustom.java
  src/main/java/com/ColdPitch/domain/repository/SolutionRepositoryImpl.java
  src/main/java/com/ColdPitch/domain/service/CommentService.java
  src/main/java/com/ColdPitch/domain/service/SolutionService.java
  src/main/java/com/ColdPitch/utils/RandomUtil.java
  src/test/java/com/ColdPitch/domain/repository/CommentRepositoryTest.java
  src/test/java/com/ColdPitch/domain/repository/SolutionRepositoryTest.java
Labels: 🧬 Back, ✨ Feature, 🐞 BugFix, 📬 API, 🔨 Refactor, 📚comment

#72 [Refactor] user dummy추가, user 서비스로직 분리 #69
  src/main/java/com/ColdPitch/domain/apicontroller/UserApiController.java
  src/main/java/com/ColdPitch/domain/apicontroller/UserAuthApiController.java
  src/main/java/com/ColdPitch/domain/entity/dto/user/UserResponseDto.java
  src/main/java/com/ColdPitch/domain/service/UserService.java
  src/main/java/com/ColdPitch/utils/SecurityUtil.java
  src/test/java/com/ColdPitch/domain/apicontroller/UserAuthApiControllerTest.java
  src/test/java/com/ColdPitch/domain/service/UserServiceTest.java
Labels: 🧬 Back, ✨ Feature, 🔨 Refactor

#74 [Feature] user 수정부분, 전체조회, 본인 조회 API 추가
  src/main/java/com/ColdPitch/domain/apicontroller/UserApiController.java
  src/main/java/com/ColdPitch/domain/entity/User.java
  src/main/java/com/ColdPitch/domain/repository/UserRepository.java
  src/main/java/com/ColdPitch/domain/repository/UserRepositoryCustom.java
  src/main/java/com/ColdPitch/domain/repository/UserRepositoryCustomImpl.java
  src/main/java/com/ColdPitch/domain/service/UserService.java
Labels: 🧬 Back, ✨ Feature, 👥 User

#84 [Feature] company registration validator #33
  build.gradle
  src/main/java/com/ColdPitch/config/okHttp/OkHttpClientConfig.java
  src/main/java/com/ColdPitch/config/security/JwtConfig.java
  src/main/java/com/ColdPitch/domain/apicontroller/CompanyRegistrationController.java
  src/main/java/com/ColdPitch/domain/entity/dto/companyRegistraion/CompanyRegistrationValidationDto.java
  src/main/java/com/ColdPitch/domain/service/CompanyRegistrationService.java
  src/main/java/com/ColdPitch/domain/service/CompanyRegistrationValidator.java
Labels: 🧬 Back, ✨ Feature, 👥 User

#92 [Fix] swagger수정
  build.gradle
  src/main/java/com/ColdPitch/domain/apicontroller/CompanyRegistrationController.java
  src/main/java/com/ColdPitch/domain/entity/dto/companyRegistraion/CompanyRegistrationDto.java
Labels: 🐞 BugFix, 📃 Docs

#95 [Fix] QueryDSL 컴파일을 실패하는 문제 해결 및 기타 코드 수정
  build.gradle
  src/main/java/com/ColdPitch/domain/apicontroller/CompanyRegistrationController.java
  src/test/java/com/ColdPitch/domain/repository/SolutionRepositoryTest.java
Labels: 🐞 BugFix

#98 [Feature] 기업 회원 회원가입 추가#44
  src/main/java/com/ColdPitch/domain/apicontroller/UserApiController.java
  src/main/java/com/ColdPitch/domain/apicontroller/UserAuthApiController.java
  src/main/java/com/ColdPitch/domain/entity/CompanyRegistration.java
  src/main/java/com/ColdPitch/domain/entity/User.java
  src/main/java/com/ColdPitch/domain/entity/dto/user/CompanyRequestDto.java
  src/main/java/com/ColdPitch/domain/service/CompanyRegistrationService.java
  src/main/java/com/ColdPitch/domain/service/UserService.java
  src/test/java/com/ColdPitch/domain/apicontroller/UserAuthApiControllerTest.java
  src/test/java/com/ColdPitch/domain/apicontroller/UserControllerTest.java
  src/test/java/com/ColdPitch/domain/service/UserServiceTest.java
Labels: 🧬 Back, ✨ Feature

#100 [Refactor] 기업 등록 시 기업 소개를 받고 저장할 수 있는 항목 추가 #99
  src/main/java/com/ColdPitch/domain/entity/CompanyRegistration.java
  src/main/java/com/ColdPitch/domain/entity/dto/companyRegistraion/CompanyRegistrationDto.java
  src/main/java/com/ColdPitch/domain/service/CompanyRegistrationService.java
Labels: 🧬 Back, 🔨 Refactor

#104 [Refactor] 유저 정보 받아오는 방식 변경
  src/main/java/com/ColdPitch/domain/apicontroller/UserApiController.java
  src/main/java/com/ColdPitch/domain/apicontroller/UserAuthApiController.java
Labels: 🧬 Back

#110 [Feature] 유저가 작성한 포스트 확인 기능 #88
  src/main/java/com/ColdPitch/domain/apicontroller/PostApiController.java
  src/main/java/com/ColdPitch/domain/apicontroller/UserApiController.java
  src/main/java/com/ColdPitch/domain/entity/Post.java
  src/main/java/com/ColdPitch/domain/entity/User.java
  src/main/java/com/ColdPitch/domain/entity/dto/post/PostRequestDto.java
  src/main/java/com/ColdPitch/domain/service/PostService.java
  src/main/java/com/ColdPitch/domain/service/UserService.java
Labels: 🧬 Back, ✨ Feature

#111 [Feature] 유저가 평가한 게시글 조회 #101
  src/main/java/com/ColdPitch/domain/apicontroller/UserApiController.java
  src/main/java/com/ColdPitch/domain/repository/DislikeRepository.java
  src/main/java/com/ColdPitch/domain/repository/LikeRepository.java
  src/main/java/com/ColdPitch/domain/service/UserService.java
Labels: 🧬 Back, ✨ Feature, 👥 User

#112 [Feature] 댓글 작성자와 요청한 사용자 비교 로직 추가 및 게시글 삭제 시 댓글 상태 변경
  src/main/java/com/ColdPitch/domain/apicontroller/CommentApiController.java
  src/main/java/com/ColdPitch/domain/apicontroller/PostApiController.java
  src/main/java/com/ColdPitch/domain/service/CommentService.java
  src/main/java/com/ColdPitch/domain/service/PostService.java
  src/main/java/com/ColdPitch/exception/AuthNotFoundException.java
  src/main/java/com/ColdPitch/exception/CommentException.java
  src/main/java/com/ColdPitch/exception/CustomException.java
  src/main/java/com/ColdPitch/exception/DislikeAlreadySelectedException.java
  src/main/java/com/ColdPitch/exception/GlobalExceptionHandler.java
  src/main/java/com/ColdPitch/exception/LikeAlreadySelectedException.java
  src/main/java/com/ColdPitch/exception/PostNotExistsException.java
  src/main/java/com/ColdPitch/exception/UnauthorizedAccesException.java
  src/main/java/com/ColdPitch/exception/UserNotFoundException.java
  src/main/java/com/ColdPitch/exception/handler/ErrorCode.java
  src/main/java/com/ColdPitch/exception/handler/ErrorResponse.java
  src/main/java/com/ColdPitch/exception/handler/GlobalExceptionHandler.java
  src/main/java/com/ColdPitch/utils/SecurityUtil.java
Labels: 🧬 Back, 📬 API, 📋 Post, 📚comment

#121 [Feature] user tag table 생성 #117
  src/main/java/com/ColdPitch/domain/apicontroller/TagApiController.java
  src/main/java/com/ColdPitch/domain/apicontroller/UserTagController.java
  src/main/java/com/ColdPitch/domain/entity/Tag.java
  src/main/java/com/ColdPitch/domain/entity/User.java
  src/main/java/com/ColdPitch/domain/entity/UserTag.java
  src/main/java/com/ColdPitch/domain/entity/dto/tag/TagRequestDto.java
  src/main/java/com/ColdPitch/domain/entity/dto/usertag/TagResponseDto.java
  src/main/java/com/ColdPitch/domain/entity/dto/usertag/UserTagRequestDto.java
  src/main/java/com/ColdPitch/domain/repository/TagRepository.java
  src/main/java/com/ColdPitch/domain/repository/UserTagRepository.java
  src/main/java/com/ColdPitch/domain/service/TagService.java
  src/main/java/com/ColdPitch/domain/service/UserService.java
  src/main/java/com/ColdPitch/domain/service/UserTagService.java
  src/main/java/com/ColdPitch/exception/handler/GlobalExceptionHandler.java
  src/test/java/com/ColdPitch/domain/apicontroller/UserTagControllerTest.java
  src/test/java/com/ColdPitch/domain/service/UserServiceTest.java
  src/test/java/com/ColdPitch/domain/service/UserTagServiceTest.java
Labels: 🧬 Back, ✨ Feature, 👥 User, 🏷️Tag

#127 [Feature] 태그를 기반으로 기업 찾기 #124
  src/main/java/com/ColdPitch/domain/apicontroller/UserTagController.java
  src/main/java/com/ColdPitch/domain/entity/dto/user/CompanyResponseDto.java
  src/main/java/com/ColdPitch/domain/entity/dto/user/UserResponseDto.java
  src/main/java/com/ColdPitch/domain/entity/dto/usertag/TagRequestDto.java
  src/main/java/com/ColdPitch/domain/repository/UserRepository.java
  src/main/java/com/ColdPitch/domain/service/CompanyRegistrationService.java
  src/main/java/com/ColdPitch/domain/service/UserTagService.java
  src/test/java/com/ColdPitch/domain/apicontroller/UserTagControllerTest.java
  src/test/java/com/ColdPitch/domain/service/UserServiceTest.java
  src/test/java/com/ColdPitch/domain/service/UserTagServiceTest.java
Labels: 🧬 Back, 📬 API
